.carousel-inner img {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgba(76, 229, 16, 0.215);
  opacity: 100
  ;
}

.paper-background {
  background-image: url("../../Resources/assets/images/paper_texture.jpg");
}

.WebContainer{
  width:100%;
  min-width:1000px;
  height:auto;
}
